@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    padding: 0;
    margin: 0;
    min-width: 320px;
    font-family: roboto;
    background-color: #FFFBF5;
}

.bg-color1{
    background-color: #190482;
    opacity: 90%;
}
.circular-img {
    border-radius: 50%;
}

.card{
    background-color: #C2D9FF;
    border-radius: 25px;
    border: 3px solid #190482;
    max-width: 90%;
    margin: auto;

}